#app {
  width: 100%;
  height: 100%;
}

$base-color: #00b38a;

@font-face {
  font-family: 'yofont';
  src: url('../../src/assets/iconfont/iconfont.woff') format('woff'), url('../../src/assets/iconfont/iconfont.ttf') format('truetype')
}
